- if (!text) text = '&nbsp;&nbsp;&nbsp;&nbsp;';
- if( kind == 'pre')
  pre!= text
- else if( kind == 'h1')
  h1!= text
- else if( kind == 'h2')
  h2!= text
- else if( kind == 'h3')
  h3!= text
- else if( kind == 'h4')
  h4!= text
- else if( kind == 'h5')
  h5!= text
- else if( kind == 'h6')
  h6!= text
- else 
  p!= text    
